@import url('https://fonts.googleapis.com/css?family=Francois+One');

#background-div {
	z-index: 1;
    background: none;
    font-size: large;
	font-weight: bold;
}

#background-div{
	width: 100%;
    height: 100%;
    background-color: cadetblue;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

img {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
	z-index: -1;
	opacity: 0.6
}

#headline{
    color: white;
    font-size: 90px;
    z-index: 1;
    font-family: 'Francois One';
    text-align: center;
    margin-top: 10%;
}

p {
    text-align: center;
    font-size: 40px;
    margin-top: 2%;
    opacity: 0.8
}
#login-button {
    margin-right: 7%;
    color: black;
    width: 95px
}

#register-button {
    width: 95px;
}

#buttons {
    text-align: center;
    margin-top: 5%;
    font-family: 'Francois One';
}