<h1 class="page-header">
  You're Personal Playlist</h1>
<div class="col-lg-12" id="dashboard-container">
  <div>
    <div class="col-md-12"  id="iframeContainer" *ngFor='let video of videosToDisplay'>
      <iframe width="390" height="200" margin="5px" border="4px solid green" [src]="video" frameborder="5" modestbranding=1 controls=0 allowfullscreen align="center" vq=480>
      </iframe>
      <a class="btn btn-danger remove-from-dashboard" (click)="deleteFromPlaylist()">Remove from Playlist</a>
    </div>
  </div>
</div>


