#iframe-container {
    margin-top: 10px;
	display: block;
	width: 100%;
}

#iframeContainer {
    margin: 0 auto;
	text-align: -webkit-center;
	width: 33%;
	padding: 10px;
}

iframe {
	width: 100%
}

.remove-from-dashboard {
    margin-top: 15px;
}